<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.1/css/all.css"
      integrity="sha384-IT8OQ5/IfeLGe8ZMxjj3QQNqT0zhBJSiFCL3uolrGgKRuenIU+mMS94kck/AHZWu"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/desktop/checkHospital.css" />
    <title>Admin</title>
  </head>
  <body>
    <main id="menu">
      <div class="logo">
        <img src="../media/logo@2x.png" alt="" />
        <p>Admin</p>
      </div>
      <div class="pagesLink">
        <a href=""
          ><p>
            <span><i class="fas fa-tachometer-alt"></i></span> Dashboard
          </p></a
        >
        <a href=""
          ><p>
            <span><i class="far fa-hospital"></i></span> Hospitals
          </p></a
        >
        <a href=""
          ><p>
            <span><i class="fas fa-users"></i></span> Users
          </p></a
        >
      </div>
    </main>
    <section id="container">
      <header id="navBar">
        <div class="searchBar">
          <form action="">
            <input
              type="search"
              name=""
              id=""
              placeholder="Search Data and Reports"
            />
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <div class="alert">
          <div>
            <i class="fas fa-envelope"></i>
            <p id="number">2</p>
          </div>
          <div>
            <i class="fas fa-bell"></i>
            <p id="number">3</p>
          </div>
        </div>
        <div class="login">
          <img src="../media/user.png" alt="" />
          <p>Shubham Singh</p>
          <i class="fas fa-sort-down"></i>
        </div>
      </header>

      <div class="container">
          <div class="category">
              <p>Chech By Category</p>
            <form>
                <div class="options">
                    <select name="state" id="">
                    <option value="-1">State</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Punjab">Punjab</option>
                    </select>
                    <select name="city" id="">
                    <option value="-1">City</option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Bilaspur">Bilaspur</option>
                    <option value="Panaji">Panaji</option>
                    <option value="Ahmedabad">Ahmedabad,</option>
                    <option value="Jalandhar">Jalandhar</option>
                    </select>
                    <select name="area" id="">
                    <option value="-1">Area</option>
                    <option value="Khurdpur">Khurdpur</option>
                    <option value="Kishangarh	">Khusropur</option>
                    <option value="Kishangarh">Kishangarh </option>
                    <option value="Bhagwanpur">Bhagwanpur</option>
                    </select>
                    <select name="Problem" id="">
                    <option value="-1">Health Problem</option>
                    <option value="Kishangarh	">Khusropur</option>
                    <option value="Kishangarh">Kishangarh </option>
                    <option value="Bhagwanpur">Bhagwanpur</option>
                    </select>
                    <button type="submit" name="search" id="search">Search</button>
                </div>
            </form>
          </div>
          <div class="data">
                <table class="tabel1">
                        <thead class="head">
                          <td>Sno</td>
                          <td>Hospital Name</td>
                          <td>Email</td>
                          <td >Phone Number</td>
                          
                        </thead>
                        <tbody class="body">
                          <tr>
                            <td>1</td>
                            <td id="name">Shubham Singh</td>
                            <td id="email">shubham.lpu0@gmail.com</td>
                            <td id="phone">25/09/2019</td>
                            <td id="edit">
                                <span><i class="fas fa-trash-alt"></i></span>
                                <span><i class="fas fa-link"></i></span>
                            </td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td id="name">RohitSingh</td>
                            <td id="email">rohit.lpu0@gmail.com</td>
                            <td id="phone">25/09/2019</td>
                            <td id="edit">
                                <span><i class="fas fa-trash-alt"></i></span>
                                <span><i class="fas fa-link"></i></span>
                            </td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td id="name">Hari Om Singh</td>
                            <td id="email">hari.lpu0@gmail.com</td>
                            <td id="phone">25/09/2019</td>
                            <td id="edit">
                                <span><i class="fas fa-trash-alt"></i></span>
                                <span><i class="fas fa-link"></i></span>
                            </td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td id="name">Tony Stark Singh</td>
                            <td id="email">tony.lpu0@gmail.com</td>
                            <td id="phone">25/09/2019</td>
                            <td id="edit">
                                <span><i class="fas fa-trash-alt"></i></span>
                                <span><i class="fas fa-link"></i></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
          </div>
      </div>



      </div>
    </section>
  </body>
</html>
