<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.1/css/all.css"
      integrity="sha384-IT8OQ5/IfeLGe8ZMxjj3QQNqT0zhBJSiFCL3uolrGgKRuenIU+mMS94kck/AHZWu"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/desktop/hospital.css" />
    <title>City Hospital</title>
  </head>
  <body>
    <section id="container">
      <div class="coverPhoto">
        <img
          src="../media/hospitalPhoto/hospitalCover.jpg"
          alt=""
          srcset=""
          id="coverPhoto"
        />
      </div>
      <div class="profile">
        <div class="profilePhoto">
          <img src="../media/hospitalPhoto/hospital.jpg" alt="" srcset="" />
        </div>
        <div class="notification">
          <div class="heading">
            <p>Appoinment</p>
          </div>
          <div class="appoinment">
            <p>3</p>
          </div>
        </div>
      </div>
      <div class="category">
        <div class="information">
          <div class="bio">
            <p>
              <span><i class="fas fa-globe-americas"></i></span> Intro
            </p>
            <p id="desc">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
              facilis modi, repudiandae similique eos iste cupiditate quis ut
              maxime? Accusantium vitae quae debitis optio iure ullam a
              perspiciatis architecto ratione.
            </p>
            <p>Phone: <span>+91 5555 5555 55</span></p>
            <p>Ambulance Number: <span>+1 2323 4545 67</span></p>
            <p>
              Address:
              <span>Jalandhar - Delhi G.T. Road, Phagwara, Punjab 144411</span>
            </p>
            <button>Edit Info</button>
          </div>
          <div class="Hospitalphotos">
            <p>Photos</p>
            <div class="listOfPhoto">
              <img src="../media/hospitalPhoto/hospital.jpg" alt="" />
              <img src="../media/hospitalPhoto/hospital.jpg" alt="" />
              <img src="../media/hospitalPhoto/hospital.jpg" alt="" />
              <img src="../media/hospitalPhoto/hospital.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="operations">
          <div class="services">
            <div class="addServices">
              <div class="heading">
                <p>Services</p>
              </div>
              <div class="items">
                <div class="item">
                  <p>Stomatch</p>
                  <p>+</p>
                </div>
                <div class="item">
                  <p>Brain</p>
                  <p>+</p>
                </div>
                <div class="item">
                  <p>Kidney</p>
                  <p>+</p>
                </div>
                <div class="item">
                  <p>Cancer</p>
                  <p>+</p>
                </div>
              </div>
            </div>
            <div class="removeServices">
              <div class="heading">
                <p>Add Services</p>
              </div>
              <div class="items">
                <div class="item">
                  <p>Stomatch</p>
                  <p>X</p>
                </div>
                <div class="item">
                  <p>Brain</p>
                  <p>X</p>
                </div>
                <div class="item">
                  <p>Kidney</p>
                  <p>X</p>
                </div>
                <div class="item">
                  <p>Cancer</p>
                  <p>X</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bloods">
            <div class="blood">
              <p>A+</p>
              <p>50</p>
              <button>Edit</button>
            </div>
            <div class="blood">
              <p>A+</p>
              <p>50</p>
              <button>Edit</button>
            </div>
            <div class="blood">
              <p>A+</p>
              <p>50</p>
              <button>Edit</button>
            </div>
            <div class="blood">
              <p>A+</p>
              <p>50</p>
              <button>Edit</button>
            </div>
          </div>
          <div class="doctors">
            <div class="addDoctor">
              <p>+</p>
            </div>
            <div class="doctor">
              <div class="doctorInfo">
                <img src="../media/hospitalPhoto/happydoctor.jpg" alt="" />
                <p>Shubham Singh</p>
              </div>
              <div class="edit">
                <button>Edit</button>
                <button>Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
